#main-container {
}

.profile-photo {
    width:8%;
    height: auto;
    border-radius: 50%;
    border: 4px solid white;
    background: white;
    margin-top: -4%;
    margin-left: 5%;
}

.profile-name {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    margin-left: 5%;
    margin-top: 10px;
}

.profile-description {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    margin-left: 5%;
    margin-top: -20px;
    letter-spacing:0cm;
}