#main-page-main-container {
}

#main-page-content-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.col {
    border: 1px solid lightgray;
    box-shadow: 1px 1px 1px lightgray;
}

#col1 {
    margin-left: 20%;
    display: grid;
    grid-template-rows: auto auto;
    max-height: 54vh;
}

#col2 {
    margin-left: 6.25%;
    margin-right: 6.25%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: grid;
    grid-template-rows: 1fr 9fr;
    max-height: 53.75vh;
}

#col3 {
    margin-right: 20%;
    display: grid;
    grid-template-rows: auto auto;
    max-height: 54vh;
}

.header {
    font-family: "Inter", sans-serif;
    font-size: medium;
}

#col2-header {
    display: flex;
    align-items: center;
}

.col2-text {
    margin-left: 1%;
}

.quick-link {
    margin-top: 3%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid gray;
    border-radius: 5px;
    margin-right: 30%;
    box-shadow: 1px 1px 1px lightgray;
    display: flex;
    align-items: center;
    padding-left: 2%;
}

.quick-link:hover {
    background-color: lightgray;
}

.quick-link-text {
    margin-left: 3%;
    color: black;
}

#quick-links-container {
    border: 1px solid lightgray;
    box-shadow: 1px 1px 1px lightgray;
    padding-left: 5%;
    padding-right: 5%;
    overflow-y: auto;
    max-height: 27vh;
    padding-bottom: 10px;
}

#email-link .hover-text {
  display: none;
}

#email-link:hover .default-text {
  display: none;
}

#email-link:hover .hover-text {
  display: inline;
}

#projects-container {
    display: grid;
    grid-template-columns: 40fr 1fr 40fr;
    overflow-y: auto;
    height: 95%;
}

#project1-container {
    margin: 4%;
}

#project2-container {
    margin: 4%;
}

#about-me-container {
    border: 1px solid lightgray;
    box-shadow: 1px 1px 1px lightgray;
    padding-left: 5%;
    padding-right: 5%;
    overflow-y: auto;
    max-height: 27vh;
}

#research-interests-container {
    border: 1px solid lightgray;
    box-shadow: 1px 1px 1px lightgray;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%; 
    max-height: 30vh;
    overflow-y: auto;
}

#research-interests-labels-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 12px;
}

.about-me-text {
    margin-top: -10px;
    font-family: "Inter", sans-serif;
    font-size: small;
}

.interest-label {
    border-radius: 10px;
    color: #336699;
    font-size: smaller;
    padding: 3.5px;
}